<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
  <DeepLC_Name>Colored deep resources</DeepLC_Name>
  <DeepLC_Multiplier>Color opacity multiplier:</DeepLC_Multiplier>
  <DeepLC_Apply>Apply settings</DeepLC_Apply>
  <DeepLC_Reset>Reset color</DeepLC_Reset>
  <DeepLC_Bright>Brightness</DeepLC_Bright>
</LanguageData>